.SRCINFO
.gitignore
49-nopasswd-calamares.rules
README.md
calamares.desktop
calamares_polkit
flag.patch
paru-support.patch
calamares-
calamares-3.3.14-1-x86_64.pkg.tar.zst
calamares-3.3.14.tar.gz
calamares-debug-3.3.14-1-x86_64.pkg.tar.zst
pkg/calamares/.BUILDINFO
pkg/calamares/.MTREE
pkg/calamares/.PKGINFO
pkg/calamares/usr/bin/calamares
